.grey_block{
    background-color: #433C3C;
    color: aliceblue;
}

.purple_text{
    color: #D97FDC;
}

.red_block{
    background-color: #F64243;
    width: 100px;
    height: 100px;
}

.purple_block{
    background-color: #C49EF8;
    width: 300px;
}

.backgroung_span{
    background-color: #7140AE;
    color: aliceblue;
}